.nostylebutton {
    background: transparent;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
    width: fit-content;
    height: auto;
}

.nostylebutton:hover {
    background: transparent;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
}

.nostylebutton:active {
    outline: none;
    border: none;
}

.nostylebutton:focus {
    outline: 0;
}

.cancelclass {
    background-color: red;
    color: white
}